<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add car</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.3/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    {% include "nav_bar.html" %}
    <h2 style="text-align:center;">Add Car</h2>

    <div class="container">

      <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">{% csrf_token %}

          <div id="add_new_div">
              <div sytle="padding-top:10px;border:2px solid blue;" id="car_div_1">
                <div class="form-group">
                  <label class="control-label col-sm-2" for="name_1">Name:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name_1" placeholder="Enter name" name="name_1" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="year_1">Year:</label>
                  <div class="col-sm-10">
                    <input type="number" class="form-control" id="year_1" placeholder="Enter year" name="year_1" min="1800" max="2050" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="manufactuer_1">Manufactuer:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="manufactuer_1" placeholder="Enter manufactuer" name="manufactuer_1" required>
                    <div style="color:red;" id="alert_1"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="image_1">Image:</label>
                  <div class="col-sm-10">
                    <input type="file" class="form-control" id="image_1" placeholder="Enter image" name="image_1" required>
                  </div>
                </div>
            </div>

          </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label><input type="checkbox" name="remember"> Remember me</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default btn btn-success" name="submit" value="submit_car">Submit</button>
              <button type="reset" class="btn btn-default btn btn-warning">Reset</button>
          </div>

        </div>
      </form>
    </div>
    {% csrf_token %}
    <script type="text/javascript">
        $(document).ready(function(){

        //Manufactuer validation................
        $("input").on("change",function(){
         var id=$(this).attr('id');
         var id_split=id.split("_");
         var input_value=$("#"+id).val();
        $("#alert_"+id_split[1]).text("");
          if(id_split[0]=='manufactuer' && input_value != "")
          {
            $.ajax({
                 url: '/check_manufactuer/',
                  data: {
                          'name': input_value,
                         },
                            dataType: 'json',
                            success: function (data) {

                              if (data['count']!=1) {
                               $("#alert_"+id_split[1]).text("Manufactuer company "+input_value+" can't fouund");
                               $("#"+id).val("");
                             }
                            }
                          });
          }
        });
        });
    </script>
</body>
</html>