{% block nav %}
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="{% url 'home' %}"></a>
		<button class="navbar-toggler right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item ">
					<a class="nav-link" href="{% url 'home' %}">HOME</a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="{% url 'add_car' %}">Add Car</a>
				</li>

                <li class="nav-item ">
					<a class="nav-link" href="{% url 'add_multi_cars' %}">Add Multi Car</a>
				</li>

				<li class="nav-item">
					<a class="nav-link " href="{% url 'add_manufactuer' %}">Add Manufactuer</a>
				</li>

			</ul>
		</div>
	</div>
</nav>
{% endblock %}